/* Generali */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.wrap {
  background-color: red;
  height: calc(100vh - 100px);
}
.main-top {
  height: 100px;
  background-color: rgba(255, 0, 0, 0.5);
  height: 100px;

}
.main-left {
  background-color: black;
  height: 100%;
  float:left;
  width: 300px;
}
.main-right {
  background-color: pink;
  height: calc(100vh - 100px);
  float:left;
  width:calc(100% - 300px);

}
.content {
  overflow: scroll;
  background-color: pink;
  height: calc(100vh - 200px);
  float:left;
  width:100%;
}
.player {
  background-color: darkgrey;
  height: 100px;
}
